<div xmlns:th="http://www.thymeleaf.org" th:fragment="modal" class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
						  <div class="modal-dialog">
						    <div class="modal-content">
						      <div class="modal-header">
						        <img onerror="this.src='https://static-00.iconduck.com/assets.00/profile-default-icon-2048x2045-u3j7s5nj.png'"
						             class="rounded-circle" style="width: 55px; height: 55px; margin-left: 200px;" id="contact_image" alt="Avatar"/>
						        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
						      </div>
						      <div class="modal-body">
						        <table class="table table-bordered">
						          <tbody>
						            <tr>
						              <th scope="row"><i class="bi bi-person"></i> Name</th>
						              <td id="contact_name"></td>
						            </tr>
						            <tr>
						              <th scope="row"><i class="bi bi-envelope-at"></i> Email</th>
						              <td id="contact_email"></td>
						            </tr>
						            <tr>
						              <th scope="row"><i class="bi bi-house-door"></i> Address</th>
						              <td id="contact_address"></td>
						            </tr>
						            <tr>
						              <th scope="row"><i class="bi bi-telephone"></i> Phone</th>
						              <td id="contact_phone"></td>
						            </tr>
						            <tr>
						              <th scope="row"><i class="bi bi-file-person"></i> About</th>
						              <td id="contact_about"></td>
						            </tr>
						            <tr>
						              <th scope="row"><i class="bi bi-star-fill"></i> Favorite</th>
						              <td id="contact_favorite"></td>
						            </tr>
						            <tr>
						              <th scope="row"><i class=" bi bi-link"></i> Website</th>
						              <td><a id="contact_website"></a></td>
						            </tr>
						            <tr>
						              <th scope="row"><i class=" bi bi-linkedin"></i> LinkedIn</th>
						              <td><a id="contact_linkedIn"></a></td>
						            </tr>
						          </tbody>
						        </table>
						      </div>
						      <div class="modal-footer">
						        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
						      </div>
						    </div>
						  </div>
						</div>