<div  xmlns:th="http://www.thymeleaf.org" th:fragment="user_navbar" >
	<nav  class="navbar navbar-expand-lg bg-body-secondary display-inline custom-navbar" >
	  <div class="container-fluid">
	    <a class="navbar-brand" th:href=@{/} th:src=@{/images/telephone.png}>SCM</a>
	    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
	      <span class="navbar-toggler-icon" ></span>
	    </button>
	    <div class="collapse navbar-collapse" id="navbarSupportedContent">
	      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
	        <li class="nav-item">
	          <a class="nav-link active" aria-current="page" th:href=@{/}>Home</a>
	        </li>
	        <li class="nav-item">
	          <a class="nav-link active" th:href=@{/about}>about</a>
	        </li>
			<li class="nav-item">
			   <a class="nav-link active" th:href=@{/contact}>contact</a>
			</li>
			<li class="nav-item">
			          <a class="nav-link active" th:href=@{/services}>Services</a>
			</li>
	        <li class="nav-item dropdown">
	          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
	            Language
	          </a>
	          <ul class="dropdown-menu">
	            <li><a class="dropdown-item" href="#">Hindi</a></li>
	            <li><a class="dropdown-item" href="#">Marathi</a></li>
	            <li><hr class="dropdown-divider"></li>
	            <li><a class="dropdown-item" href="#">Something else here</a></li>
	          </ul>
	        </li>
	       <!-- <li class="nav-item">
	          <a class="nav-link disabled" aria-disabled="true">Disabled</a>
	        </li>-->
	      </ul>
	      <form class="d-flex" role="search">
	        <button class="btn btn-outline-success" type="submit">
				<a style="text-decoration:none;color: black;" th:href="@{/user/profile}"><span th:text="${LoggedUser.name}"></span></a></button>
			<button class="ms-2 btn btn-danger" type="submit"><a style="text-decoration:none;color: white;" th:href="@{/logout}">Logout</a></button>
		 </form>
	    </div>
	  </div>
	</nav>

	<style>
	  @media (min-width: 992px) { /* Large screens and above */
	    .custom-navbar {
	      margin-left: 282px;
	    }
	  }
	  @media (max-width: 991.98px) { /* Small screens and below */
	    .custom-navbar {
	      margin-left: 60px;
	    }
	  }
	</style>
</div>
