<!DOCTYPE html>
<html lang="en" th:replace="~{base::parent(~{::#content},~{::title})}">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Register</title>
</head>
<body>
	<div id="content">
		<div class="mt-2 card w-50  container container-md">
		  <div th:replace="~{message ::message}"></div>
		  <div class="card-header">
			<h5>Signup Here</h5> 
			<p>Start managing contact on cloud..</p>
		  </div>
		  <div class="card-body">
			<form th:action="@{/do-register}" method="post" th:object="${userForm}">
			  <div class="mb-1">
				 <label for="name" class="form-label">Username</label>
				 <input th:field="*{name}" class="form-control" id="name" >
			  </div>
			  <div class="mb-1">
			    <label for="email" class="form-label">Email address</label>
			    <input th:field="*{email}" type="email" class="form-control" id="email" aria-describedby="emailHelp">
			  </div>
			  <div class="mb-1">
			    <label for="password" class="form-label">New Password</label>
			    <input th:field="*{password}" type="text" class="form-control" id="password">
			  </div>
			  <div class="mb-1">
			  	 <label for="phoneNo" class="form-label">Contact Number</label>
			  	 <input th:field="*{phoneNo}" type="text" class="form-control" id="phoneNo" >
			  </div>
			  <div class="mb-1">
				<label for="about">About</label>
			    <textarea th:field="*{about}" class="form-control"  id="about"></textarea>
			    
			  </div>
			  <div class="mb-1 form-check">
			    <input type="checkbox" class="form-check-input" id="exampleCheck1">
			    <label class="form-check-label" for="exampleCheck1">Check me out</label>
			  </div>
			  <div class="text-center">
				<button type="submit" class="btn btn-primary text-center">Register</button>
			    <button type="reset" class="ms-3 btn btn-danger text-center">Reset</button>
			  </div>
			  </form>
		  </div>
		</div>
	</div>
</body>
</html>